.toggle {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-color-100);
    width: 61px;
    height: 30px;
    padding: 4px;
    border-radius: 50px;
}

.toggle[data-isactive="true"] {
    justify-content: flex-end;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.emoji {
    font-size: var(--font-size-m);
    font-style: normal;
}