.pomodoroClock {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-700);
    color: var(--neutral-color);
    text-align: center;
    font-style: normal;
    line-height: normal;
}