.container {
    background-color: var(--secondary-color);
    display: flex;
    padding: 16px;
    width: 100%;
    min-height: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-radius: 5px;
    z-index: 0;
}

.title {
    color: var(--neutral-color);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-700);
    line-height: normal;
    align-self: flex-start;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    height: 100%;
}

.follow-button {
    padding: 8px 24px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    align-self: flex-end;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color-100);
    }

    &:active {
        background-color: var(--primary-color-200);
    }
}

.exit-button {
    fill: var(--neutral-color);
    position: relative;
    font-size: var(--font-size-l);
    cursor: pointer;

    &:hover {
        fill: var(--primary-color-200);
    }
}