.container {
    background-color: var(--secondary-color);
    display: flex;
    padding: 16px;
    width: 100%;
    min-height: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-radius: 5px;
    z-index: 0;
}

.title {
    color: var(--neutral-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-400);
    line-height: normal;
    align-self: flex-start;
}

.action {
    min-width: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    height: 100%;
    flex-shrink: 0;
}

.exit-button {
    fill: var(--neutral-color);
    position: relative;
    font-size: var(--font-size-l);
    cursor: pointer;
}

.exit-button:hover {
    fill: var(--primary-color-100)
}