.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    position: relative;
}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin-top: 8px;
    background-color: var(--neutral-color);
    border-radius: 5px;
    z-index: 100;
}

.dropdown li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.dropdown li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}