.button {
    cursor: pointer;
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    border: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    box-shadow: 2px 2px 8px -2px var(--primary-color);
}

.button:hover {
    color: #ffffff;
    background: linear-gradient(180deg, var(--primary-color-100) 0%, var(--primary-color) 100%);
}

.button:active {
    color: #ffffff;
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--primary-color-100) 100%);
}