.app {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  width: clamp(640px, 640px, 90%);
  flex-direction: column;
  gap: 24px;
  padding: 85px 32px;
  min-height: 100vh;
}