:root {
  --primary-color: #d04643;
  --primary-color-100: #d55a57;
  --primary-color-200: #da6e6c;
  --secondary-color: #fff;
  --secondary-color-100: #D9D9D9;
  --neutral-color: #2c2c2c;
  --rest-color: #b5ffe1;
  --long-rest-color: #389697;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 44px;
  --font-size-xxxl: 56px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

[data-theme="dark"] {
  --primary-color: #d04643;
  --primary-color-100: #d55a57;
  --primary-color-200: #da6e6c;
  --secondary-color: #2c2c2c;
  --secondary-color-100: #5a5a5a;
  --neutral-color: #fff;
  --rest-color: #00b56c;
  --long-rest-color: #389697;
}

@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  margin: 0;
  background-color: var(--neutral-color-min);
  scrollbar-gutter: stable both-edges;
}