:root {
  --primary-color: #f8ad9d;
  --primary-color-100: #f4978e;
  --primary-color-200: #f08080;
  --secondary-color: #ffdab9;
  --secondary-color-50: #fbc4ab;
  --neutral-color-max: #ffffff;
  --neutral-color-min: #2c2c2c;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 44px;
  --font-size-xxxl: 56px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  margin: 0;
  background-color: var(--neutral-color-min);
}

