:root {
  --primary-color: #D04643;
  --primary-color-100: #DA6E6C;
  --secondary-color: #FFFFFF;
  --secondary-color-100: #D9D9D9;
  --neutral-color: #2C2C2C;
  --focus-color: #B62927;
  --rest-color: #2E674C;
  --long-rest-color: #2B7375;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 44px;
  --font-size-xxxl: 56px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

[data-theme="dark"] {
  --primary-color: #D04643;
  --primary-color-100: #DA6E6C;
  --secondary-color: #2C2C2C;
  --secondary-color-100: #525252;
  --neutral-color: #fff;
  --focus-color: #F4D3D2;
  --rest-color: #B5FFE1;
  --long-rest-color: #B5E3E3;
}

@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-gutter: stable;
}


body {
  margin: 0;
  background-color: var(--neutral-color-min);
}